<form action="register" method="post" class="form-control h-100 d-flex flex-column justify-content-evenly <%- page === 'edit' ? '' :'d-none' ; %> gap-3" >
  <h2><%= header %></h2>
  
  <%- include('./floatingInput.ejs', {name: 'username', id: 'floatingUsername', placeholder: 'Username', value: selectUser.userName, type:'text'}) %>
  
  <%- include('./floatingInput.ejs', {name: 'password', id: 'floatingPassword', placeholder: 'Password', value: selectUser.password, type:'password'}) %>
  
  <div class="form-floating w-25">
    <select name="role" class="form-select" id="floatingRole">
      <option value="" selected disabled>----- OPTION -----</option>
      <option value="admin">Admin</option>
      <option value="user">User</option>
      <option value="vip">V I P </option>
    </select>
    
    <label for="floatingRole" class="form-label"> Role </label>
  </div>
  
  <%- include('./floatingInput.ejs', {name: 'email', id: 'floatingEmail', placeholder: 'E-mail', value: selectUser.email, type:'email'}) %>

  <%- include('./floatingInput.ejs', {name: 'firstName', id: 'floatingFirstName', placeholder: 'First Name', value: '', type:'text'}) %>
  
  <%- include('./floatingInput.ejs', {name: 'lastName', id: 'floatingLastName', placeholder: 'Last Name', value: '', type:'text'}) %>
  
  <div class="form-floating w-25">
    <select name="gender" class="form-select" id="floatingGender">
      <option value="" selected disabled>----- OPTION -----</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="nonBinary">Non Binary</option>
    </select>
    
    <label for="floatingGender" class="form-label"> Gender </label>
  </div>
  
  <%- include('./floatingInput.ejs', {name: 'DOB', id: 'floatingDOB', placeholder: 'Date of Birth', value: '', type:'date'}) %>
  
  <button type="submit" class="btn btn-primary w-25 mt-4">Submit</button>
</form>