<table class="table table-striped table-hover p-4 <%- page === 'list' ? '' :'d-none' ; %>">
  <h2 class="<%- page === 'list' ? '' :'d-none' ; %>""><%= header %></h2>
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">E-mail</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach( user => { %>
    <tr>
      <td> <%= user.username %> </td>
      <td> <%= user.email %> </td>
      <td>
        <a href="user/<%= user.id %>/detail" class="btn btn-primary" role="button"> Detail</a>
        <a href="user/<%= user.id %>/edit" class="btn btn-secondary" role="button"> Edit</a>
        <a href="user/<%= user.id %>/delete" class="btn btn-danger" role="button"> Delete</a>
      </td>
    </tr>
    <% }) %>
    
  </tbody>
</table>