<%- include('./partials/head.ejs') %>
<body>
    
  <!-- navigation -->
  <%- include('./partials/navbar.ejs') %>

  <section class="h-auto min-vh-100 pt-5 gradient-custom d-flex  flex-column align-items-center justify-content-evenly">
    
    <h1 class="text-center m-3">welcome to dashboard</h1>

    <div class="bg-light h-100 w-75 p-3 d-flex flex-column justify-content-evenly" id="create">
      
      <%- include('./dashboard/register.ejs', {header: 'Register new user', page}) %>
      
      <%- include('./dashboard/userList.ejs', {header: 'User List', page}) %>
      
      <%- include('./dashboard/edit.ejs', {header: 'Edit user data', page}) %>
      

    </div>
    
    
  </section>


<%- include('./partials/script.ejs') %>
</body>
</html>